.footer__link {
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    transition: 0.25s linear;
}

@media screen and (max-width: 1280px) {
    .footer__link {
        font-size: 1rem;
        line-height: 1.2;
    }
}

@media screen and (max-width: 425px) {
    .footer__link {
        font-size: 1.5rem;
        line-height: 1.2;
    }
}

.footer__link:hover {
    opacity: .8;
    cursor : url("../../../images/pointer.svg"), default;
}