.logo {
    max-width: 176px;
    transition: 0.25s linear;
}

@media screen and (max-width: 425px) {
    .logo {
        width: 142px;
    }
}

.logo:hover {
    opacity: .3;
    cursor : url("../../images/pointer.svg"), default;
}