.place__paragraph {
    align-self: start;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    margin: 0 0 26px;
    color: #fff;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}