.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 114%;
    text-align: right;
    align-self: end;
    color: #fff;
    margin: 0;
}

@media screen and (max-width: 425px) {
    .footer__copyright {
        line-height: 100%;
        align-self: start;
        padding-top: 48px;
    }
}