.cover {
    max-width: 1184px;
    height: 740px;
    background-image: url("../../images/cover-trains.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
}