.cover {
    max-width: 1184px;
    min-height: 740px;
    width: 100%;
    background-image: url("../../images/cover-trains.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}