.cover__title {
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
    margin: 0;
    text-align: center;
    align-self: end;
    row-gap: 32px;
    justify-items: center;
    z-index: 10;
    opacity: 1;
}

.cover__title:hover {
    opacity: 1;
}